:root {
    --accent-color: #F2794E;
    --text-color: /*#025948*/ #24A68C;
    --border-color: #A64724;
    --background-color: #59200B;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("./images/tavern2x.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
} 

header {
    position: relative;
}

.tabContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.navButton {
    font-size: 1.5em;
    border: none;
    background-color: var(--background-color);
    transition: transform 0.3s;
    height: 85px;
    width: 7vw;
    padding: 0;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 4px 4px;
    color: var(--accent-color);
    border: 2px solid var(--border-color);
    border-top: none;
}

.navButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

header img {
    position: absolute;
    top: 90%;
    width: 7vw;
}

#content {
    margin-top: 100px;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 5px 5px 5px 5px;
    border: 2px solid var(--border-color);
    margin-bottom: 50px;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.sub-header {
    font-size: 50px;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.image-container {
    display: flex;
    justify-content: space-around;
}

.image-container img{
    width: 35%;
    height: auto;
    border-radius: 7px 7px 7px 7px;
    border: 1px solid var(--border-color);
}

.image {
    width: 50%;
    height: auto;
    border-radius: 7px;
    border: 1px solid var(--border-color);
}

.sub-section {
    font-size: 20px;
    text-align: left;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    column-gap: 75px;
}

.food-container {
    border: 2px solid var(--border-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.75);
}

.food-name {
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 1);
    color: var(--accent-color);
    font-size: 1.6em;
}

.menu p {
    color: var(--text-color);
    font-size: 1.2em;
}

.menu p span {
    font-weight: 900;
}


@media only screen and (max-width: 600px) {
    .tabContainer button  {
        width: 20vw;
    }

    .navButton img {
        width: 20vw;
    }

    .navButton {font-size: 1.4em;}

    #content {
        width: 80%;
    }

    body {
        background-image: url("./images/tavern2x.jpg");
        background-position: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }
  }