html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: url("./images/tavern2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
} 

header {

}

.tabContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.navButton {
    font-size: 22px;
    border: none;
    background-color: #D69B4B;
    transition: transform 0.3s;
    height: 85px;
    width: 6vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 4px 4px;
}

.navButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

header img {
    position: absolute;
    top: 90%;
    width: 6vw;
}

#content {
    margin-top: 100px;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    background-color: #D69B4B;
    border-radius: 5px 5px 5px 5px;
}

.sub-header {
    font-size: 32px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.image-container img{
    width: 40%;
    height: 400px;
}